<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="personTemplate" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 默认为jdk,这里设置为true即使用cglib -->
        <property name="proxyTargetClass" value="true"/>
        <property name="interceptorNames">
            <list>
                <!--Using “Global” Advisors-->
                <value>global*</value>
            </list>
        </property>
    </bean>


    <bean id="personService" parent="personTemplate">
        <property name="target">
            <bean class="com.xinchen.spring.proxying.api.metadata.PersonImpl" />
        </property>
    </bean>


    <bean id="global_lockMixinAdvisor" class="com.xinchen.spring.proxying.api.advisor.LockMixinAdvisor" />
    <bean id="global_debugInterceptor" class="com.xinchen.spring.proxying.api.advice.DebugInterceptor" />
</beans>